.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

body{
  background-image: url('https://img.freepik.com/free-photo/top-view-frame-of-leaves-branches_23-2148480752.jpg?size=626&ext=jpg&uid=R61916015&ga=GA1.2.1362379067.1670099421');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h2{
  color: #557153;
  font-size: 40px;
}
p{
  color: #7D8F69;
  font-size: 20px;
  padding: 20px 0px 30px 0px;
}
button{
  color: #f2f2f2;
  font-family: 'Assistant', sans-serif;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #557153;
  font-size: 20px;
}
button:hover{
  background-color: #A9AF7E;
  color:#557153;
  box-shadow:0 0 15px rgba(0,0,0,0.3);

}
@media all and (max-width: 600px){
  body{
    background-image: url("https://img.freepik.com/free-photo/vertical-graphic-illustration-of-gray-and-white-circles-on-a-gray-background_181624-27780.jpg?size=338&ext=jpg&uid=R61916015&ga=GA1.2.1362379067.1670099421&semt=sph");
  }
  h2{
    color:#5F6F94;
  }
  p{
    color:#7895B2;
  }
  button{
    background-color:#5F6F94;
  }
  button:hover{
    background-color: #8ebbe2;
    color:#5F6F94;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
  
  }
}